@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 1024px) and (max-width: 1439px) {

.spce{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}


}

@media (max-width: 375px) {
    .spce {
      gap: 35px; 
    }
  }
@media (min-width: 1700px) {
    .mrg {
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }


  @media (max-width: 425px) {
    .mrg {

      padding: 1rem;
    }
  }

  @media (max-width: 885px) {
    .cl {

      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

