@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 1024px) and (max-width: 1439px) {

.spce{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}


}

@media (max-width: 375px) {
    .spce {
      gap: 35px; 
    }
  }
